{% extends 'Template/structure.html' %}

{% block css %}{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 my-4" style="text-align: center;">
        <h1>Página Inexistente!</h1>
        <img class="img-fluid" src="http://localhost/aniplus/app/lib/Style/Images/404-page-not-found.png" />
        <p>Retorne à página inicial clicando <a href="http://localhost/aniplus/">aqui</a></p>
    </div>
</div>
<style>
    #footer {
        position: relative;
        bottom: 0px;
    }
</style>
{% endblock %}