{% extends 'Template/structure.html' %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="http://localhost/aniplus/app/lib/Style/home.css">
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block slide %}
<div id="slide_container">
    <div class="container swiper" id="destaques">
        <div class="swiper-wrapper">
            {% for destaque in destaques %}
            {% set img_path = 'http://localhost/aniplus/app/lib/Style/Images/img-not-found.png' %}
            {% if destaque.poster_path != null %}
            {% set img_path = 'https://image.tmdb.org/t/p/original' ~ destaque.poster_path %}
            {% endif %}
            <div class="swiper-slide" data-background="{{destaque.backdrop_path}}"
                style="display: flex; text-align: center;">
                <article>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-thumbnail" src="{{img_path}}" />
                                <a href="filme/detalhes/{{destaque.id}}">
                                    <div class="preview-body" style="width: calc(100% - 30px); left: 15px;">
                                        <div class="preview-content">
                                            <i class="fa-solid fa-play fa-2xl"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row" id="populares">
    <div class="col-md-12">
        <h5 class="section-title">Filmes Populares</h5>
        <hr style="margin-bottom: 0.5rem; width: 100%; height: 0.3em; background-color: brown;" />
        <div class="swiper" style="padding-left: 40px; padding-right: 40px;">
            <div class="swiper-wrapper">
                {% for filme in filmes_populares.results %}
                {% set img_path = 'http://localhost/aniplus/app/lib/Style/Images/img-not-found.png' %}
                {% if filme.poster_path != null %}
                {% set img_path = 'https://image.tmdb.org/t/p/original' ~ filme.poster_path %}
                {% endif %}
                <div class="swiper-slide">
                    <div class="c-wrapper">
                        <div class="c">
                            <div class="c-content">
                                <div class="c-header">
                                    <a href="http://localhost/aniplus/filme/detalhes/{{filme.id}}">
                                        <img class="img-fluid"
                                            src="https://image.tmdb.org/t/p/original{{filme.poster_path}}" />
                                    </a>
                                </div>
                                <div class="c-body">
                                    <a href="http://localhost/aniplus/filme/detalhes/{{filme.id}}">
                                        <p style="font-weight: bold; font-size: 1rem; margin: 0;">{{filme.title}}</p>
                                    </a>
                                </div>
                                <div class="c-footer">
                                    <i class="fa-solid fa-star star"></i> {{filme.vote_average}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next" id="next"></div>
            <div class="swiper-button-prev" id="prev"></div>
        </div>
    </div>
</div>

<div class="row" id="populares">
    <div class="col-md-12">
        <h5 class="section-title">Séries Populares</h5>
        <hr style="margin-bottom: 0.5rem; width: 100%; height: 0.3em; background-color: brown;" />
        <div class="swiper" style="padding-left: 40px; padding-right: 40px;">
            <div class="swiper-wrapper">
                {% for serie in series_populares.results %}
                {% set img_path = 'http://localhost/aniplus/app/lib/Style/Images/img-not-found.png' %}
                {% if serie.poster_path != null %}
                {% set img_path = 'https://image.tmdb.org/t/p/original' ~ serie.poster_path %}
                {% endif %}
                <div class="swiper-slide">
                    <div class="c-wrapper">
                        <div class="c">
                            <div class="c-content">
                                <div class="c-header">
                                    <a href="http://localhost/aniplus/serie/detalhes/{{serie.id}}">
                                        <img class="img-fluid"
                                            src="https://image.tmdb.org/t/p/original{{serie.poster_path}}" />
                                    </a>
                                </div>
                                <div class="c-body">
                                    <a href="http://localhost/aniplus/serie/detalhes/{{serie.id}}">
                                        <p style="font-weight: bold; font-size: 1rem; margin: 0;">{{serie.name}}</p>
                                    </a>
                                </div>
                                <div class="c-footer">
                                    <i class="fa-solid fa-star star"></i> {{serie.vote_average}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="f-2rem swiper-button-next"></div>
            <div class="f-2rem swiper-button-prev"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block additionalScripts %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="http://localhost/aniplus/app/lib/Js/home.js"></script>
<script>
</script>
{% endblock %}