{% extends 'Template/structure.html' %}

{% block theme %}{{theme}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://localhost/aniplus/app/lib/Style/login.css">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-md-12 shadow p-3 mb-5 bg-body rounded borda-topo-vermelha" id="form_login">
        <div class="div-logo-lg" id="logo"></div>
        <div class="alert alert-danger" id="alert_login" style="display: none; margin-bottom: 0;">
            <span id="msg"></span>
            <div class="close" aria-label="Close" id="fechar">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <form method="POST" action="#">
            <div class="row">
                <div class="col-md-12 pt-3" id="email">
                    <label for="email_input" class="form-label">E-mail ou Usuário</label>
                    <input type="email" class="form-control" id="email_input" name="email"
                        placeholder="Exemplo: d****@gmail.com" required>
                </div>
                <div class="col-md-12 pt-3" id="senha">
                    <label for="senha_input" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha_input" name="senha"
                        placeholder="Exemplo: fr***d.-_***" autocomplete="TRUE" required>
                </div>
                <div class="col-md-12 pt-4" id="submit">
                    <button class="btn btn-danger" type="submit" id="submit_login">Log-in</button>
                    <a id="forgotpassword" href="../view/recuperar_senha.php">Esqueceu sua senha?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-12 shadow p-3 mb-3 bg-body rounded borda-topo-vermelha" id="new_account">
        <span>É novo por aqui? <a href="http://localhost/aniplus/cadastro">Cadastre-se</a></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 redes">
        <ul>
            <li>
                <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-twitter fa-lg"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}