{% extends 'Template/structure.html' %}

{% block theme %}{{theme}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="app/lib/Style/discover.css">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <button class="btn-options"><i class="fa-solid fa-filter"></i> Filtrar</button>
        <form class="form-inline form-options d-none" action="" method="post">
            <div class="form-group">
                <div>
                    <label for="order">Ordem:</label>
                </div>
                <div>
                    <input class="form-control" type="checkbox" name="order" id="order" />
                    <i class="fa-solid fa-arrow-down-wide-short" id="order_icon"></i>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="genero">Gênero:</label>
                </div>
                <div>
                    <select class="form-control" name="genero" id="genero">
                        <option value=""></option>
                        {% for data in generos %}
                        {% for genero in data %}
                        {% if genero.id == genre %}
                        <option value="{{genero.id}}" selected>{{genero.name}}</option>
                        {% else %}
                        <option value="{{genero.id}}">{{genero.name}}</option>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn btn-dark" type="submit">aplicar</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="c-wrapper">
            {% for serie in series.results %}
            {% set img_path = 'app/lib/Style/Images/img-not-found.png' %}
            {% if serie.poster_path != null %}
            {% set img_path = 'https://image.tmdb.org/t/p/original' ~ serie.poster_path %}
            {% endif %}
            <div class="c">
                <div class="c-content">
                    <div class="c-header">
                        <a href="serie/detalhes/{{serie.id}}">
                            <img class="img-fluid lazy" data-lazy="{{img_path}}" />
                        </a>
                    </div>
                    <div class="c-body">
                        <a href="serie/detalhes/{{serie.id}}">
                            <p style="font-weight: bold; font-size: 1rem; margin: 0;">{{serie.name}}</p>
                        </a>
                    </div>
                    <div class="c-footer">
                        <i class="fa-solid fa-star star"></i> {{serie.vote_average}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <section id="page">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination justify-content-center">
                    {% if pagination.before < 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="discover/series/{{pagination.before}}/{{order}}/{{genre}}"
                            tabindex="-1">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="discover/series/{{pagination.before}}/{{order}}/{{genre}}"
                            tabindex="-1">Anterior</a>
                    </li>
                    {% endif %}

                    {% for item in pagination.itens %}
                    {% if page == item %}
                    <li class="page-item disabled">
                        <a class="page-link active-link"
                            href="discover/series/{{item}}/{{order}}/{{genre}}">{{item}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="discover/series/{{item}}/{{order}}/{{genre}}">{{item}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if pagination.next == filmes.total_pages %}
                    <li class="page-item disabled">
                        <a class="page-link" href="discover/series/{{pagination.before}}/{{order}}/{{genre}}"
                            tabindex="-1">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="discover/series/{{pagination.next}}/{{order}}/{{genre}}"
                            tabindex="-1">Próximo</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </section>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block additionalScripts %}
<script src="app/lib/Js/discover.js"></script>
{% endblock %}